__pycache__/
*.py[cod]
.pytest_cache/
.venv/
test-output/
submission.json
submission.zip
submission-v2.json
submission-v2.zip
submission-v3.json
submission-v3.zip
submission-v4.json
submission-v4.zip
submission-v5.json
submission-v5.zip
team-claim.json
*.key
